
canvas{
	position: fixed;
	top: 0px;
	left: 0px;
}

video{
	position: fixed;
	top: 0px;
	left: 0px;
}

@keyframes flicker{
  	0%   {background-color: rgba(215,255,0,255);}
  	50%  {background-color: rgba(255,255,255,0);}
  	100% {background-color: rgba(215,255,0,255);}
}

.information{
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 15px;
	z-index: 1;
	line-height: 1.8;
	font-size: 11pt;
	font-family: 'Roboto Mono', monospace;
}

.highlight_temp:hover{
	background-color: rgb(215,255,0);
}

#on:hover{
	cursor: pointer;
	transform: translate(0,-2px);
}

#off:hover{
	cursor: pointer;
	transform: translate(0,-2px);
}

#record:hover{
	cursor: pointer;
	transform: translate(0,-2px);
}

#capture:hover{
	cursor: pointer;
	transform: translate(0,-2px);
}

select{
	line-height: 1.2;
	font-size: 11pt;
	font-family: 'Roboto Mono', monospace;
	background-color: rgb(215,255,0);
	outline: none;
	-webkit-appearance: none;
    border: 0px;
    border-radius: 0px;
	/*
	border: 1px solid black;
	border-radius: 3px;
	padding: 0px;
	*/
}

select:hover{
	cursor: pointer;
	transform: translate(0,-2px);
}

select:focus{
    outline: none;
    border: 0px;
}

#select,.categ{
	float: left;
	margin-right: 10px;	
}

#on,#off{
	position: relative;
	float: left;
	margin-right: 9px;
}

#record{
	clear:both;
}

#instructions{
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.wrapper{
	position: relative;
	float: left;
	margin-right: 12px;
}

.highlight{
	background-color: rgb(215,255,0);
	/*
	border: 1px solid black;
	border-radius: 3px;
	padding: 0px;
	*/
}

.recording_animation{
	float: left;
	transform: translate(0,4.5px);
	width: 16px;
	height: 16px;
	border-radius: 8px;
	animation-name: flicker;
  	animation-duration: 1.0s;
  	animation-iteration-count: infinite;
}
