
canvas{
	position: fixed;
	top: 0px;
	left: 0px;
}

video{
	position: fixed;
	top: 0px;
	left: 0px;
}

.information{
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 15px;
	z-index: 1;
	line-height: 1.4;
	font-size: 11pt;
	font-family: 'Roboto Mono', monospace;
}

#sound,#record:hover{
	cursor: pointer;
}